<h1>Tags <%= link_to "add", new_tag_path, class: "btn btn-sm btn-primary" %></h1>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <% for tag in @tags %>
      <li><%= link_to tag.name, tag %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "add", new_tag_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
