<h1>Resources <%= link_to "add", new_resource_path, class: "btn btn-sm btn-primary" %></h1>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <% for resource in @resources %>
      <li><%= link_to resource.name, resource %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "add", new_resource_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
