<h1>Passages <%= link_to "add", new_passage_path, class: "btn btn-sm btn-primary" %></h1>

<%= render @passages %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "add", new_passage_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
