@import 'bootstrap';

.passage {
  margin: 0;

  &:hover {
    background-color: #fafafa;
  }

  .body, .attribution, .tags {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}

$tag-height: 12px;
.tag a {
  background-color: #aaa;
  color: #fff;
  padding-left: $tag-height / 2;
  padding-right: $tag-height / 2;
  height: $tag-height;
  line-height: $tag-height;
  font-size: $tag-height;
  @include border-left-radius($tag-height);
  @include border-right-radius($tag-height);

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
